{% extends "layout.html" %}

{% set PageId = "page-create-point" %}

{% block title %}
    <title>Chefleta | Registrar restaurante</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="vendor/css/create-point.css">
    <link rel="stylesheet" href="vendor/css/modal.css">
{% endblock styles %}

{% block content %}

    {% include "partials/page-header.html" %}
    <form action="savepoint" method="POST">
        <h1>Cadastro de um restaurante</h1>

        <fieldset>
            <legend>
                <h2>Dados do restaurante</h2>
            </legend>

            <div class="field-group">
                <div class="field">
                    <label for="name">Nome do restaurante</label>
                    <input type="text" name="name" required="required">
                </div>
                <div class="field">
                    <label for="image">Imagem do restaurante
                        <a href="https://imgbb.com/upload" alt="Informações para enviar foto"></a>
                    </label>
                    <input type="url" name="image" required="required" placeholder="https://">
                </div>
            </div>

            <div class="field-group">
                <div class="field">
                    <label for="address">Endereço</label>
                    <input type="text" name="address" required="required">
                </div>
                <div class="field">
                    <label for="address2">Número/Complemento</label>
                    <input type="number" name="address2" required="required">
                </div>
            </div>
            <div class="field-group">
                <div class="field">
                    <label for="uf">Estado</label>
                    <select name="uf" required="required">
                        <option value="">Selecione o Estado</option>
                    </select>
                </div>
                <div class="field">
                    <label for="city">Cidade</label>
                    <select name="city" disabled="disabled" required="required">
                        <option>Selecione a Cidade</option>
                    </select>

                    <input type="hidden" name="state">

                </div>
                
            </div>
            <div class="field-group">
                <div class="field">
                    <label for="name">Whatsapp do restaurante</label>
                    <input type="number" name="name" required="required" placeholder="(DD)00000 - 0000">
                </div>
            </div>

        </fieldset>

        <fieldset>
            <legend>
                <h2>Serviços oferecidos</h2>
                <span>Selecione um ou mais itens abaixo</span>
            </legend>

            <div class="items-grid">
                <li data-id="Café da Manha"><img src="./assets/food-1.svg" alt="" class="grid-icon">
                    <span>Café da Manha"</span></li>

                <li data-id="Lanches"><img src="./assets/food-1.svg" alt="" class="grid-icon">
                    <span>Lanches</span></li>

                <li data-id="Almoço"><img src="./assets/food-1.svg" alt="" class="grid-icon">
                    <span>Almoço</span></li>

                <li data-id="Janta"><img src="./assets/food-1.svg" alt="" class="grid-icon">
                    <span>Janta</span></li>

                <li data-id="Sobremesa"><img src="./assets/food-1.svg" alt="" class="grid-icon">
                    <span>Sobremesa</span></li>

                <li data-id="Bebidas"><img src="./assets/food-1.svg" alt="" class="grid-icon">
                    <span>Bebidas</span></li>
            </div>

            <input type="hidden" name="items">
        </fieldset>

        <button type="submit">Cadastar ponto de coleta</button>
    </form>

{% endblock content %}

{% block modal %}
    {% if saved %}
        {%include "partials/point-created.html"%}
    {% endif %}
{% endblock modal %}

{% block scripts %}
    <script src="./vendor/script/create-point.js"></script>
{% endblock scripts %}

</body>

</html>