{% extends "layout.html" %}

{% set PageId = "page-create-point" %}


{% block title %}
    <title>Ecoleta | Criar um ponto de coleta</title>
{% endblock title %}


{% block styles %}
    <link rel="stylesheet" href="vendor/css/create-point.css">
    <link rel="stylesheet" href="vendor/css/modal.css">
{% endblock styles %}  


{% block content %}

{% include "partials/page-header.html" %}
  <form action="savepoint" method="POST">
            <h1>Cadastro do ponto de coleta</h1>

            <fieldset>
                <legend>
                    <h2>Dados da entidade</h2>
                </legend>

                
                <div class="field-group">
                    <div class="field">
                    <label for="name">Nome da entidade</label>
                    <input type="text" name="name" required>
                </div>
                    <div class="field">
                        <label for="image">Imagem da entidade</label>
                        <input type="url" name="image" required="required" placeholder="https://">
                    </div>
                </div>



                <div class="field-group">
                    <div class="field">
                        <label for="address">Endereço</label>
                        <input type="text" name="address" required>
                    </div>
                    <div class="field">
                        <label for="address2">Número/Complemento</label>
                        <input type="number" name="address2" required>
                    </div>
                </div>
                <div class="field-group">
                    <div class="field">
                        <label for="uf">Estado</label>
                        <select name="uf" required>
                            <option value="">Selecione o Estado</option>
                        </select>
                    </div>
                    <div class="field">
                        <label for="city">Cidade</label>
                        <select name="city" disabled required>
                            <option>Selecione a Cidade</option>
                        </select>

                        <input type="hidden" name="state">

                    </div>
                </div>

            </fieldset>

            <fieldset>
                <legend>
                    <h2>Ítens de Coleta</h2>
                    <span>Selecione um ou mais itens abaixo</span>
                </legend>

                <div class="items-grid">
                    <li data-id="Lâmpadas" ><img src="./assets/lampadas.svg" alt=""><span>Lâmpadas</span></li>

                    <li data-id="Pilhas e Baterias"><img src="./assets/baterias.svg" alt=""><span>Pilhas e Baterias</span></li>


        
                    <li data-id="Papéis e Papelão"><img src="./assets/papeis-papelao.svg" alt=""><span>Papéis e Papelão</span></li>


                
                    <li data-id="Residuos Eletrônicos"><img src="./assets/eletronicos.svg" alt=""><span>Residuos Eletrônicos</span></li>
                

                
                    <li data-id="Residuos Orgânicos"><img src="./assets/organicos.svg" alt=""><span>Residuos Orgânicos</span></li>
                

                
                    <li data-id="Óleo de Cozinha"><img src="./assets/oleo.svg" alt=""><span>Óleo de Cozinha</span></li>
                </div>

                <input type="hidden" name="items">
            </fieldset>



            <button type="submit">Cadastar ponto de coleta</button>
        </form>

        

        



{% endblock content %}


{% block modal %}
{% if saved %}
    {%include "partials/point-created.html"%}
{% endif %}
{% endblock modal %}

{% block scripts %}
<script src="./vendor/script/create-point.js"></script>
{% endblock scripts %}




</body>

</html>