{% extends "layout.html" %}

{% set PageId = "pagehome" %}


{% block title %}
    <title>Foodleta</title>
{% endblock title %}

{% block styles %}
    <link rel="stylesheet" href="vendor/css/home.css">
    <link rel="stylesheet" href="vendor/css/modal.css">
{% endblock styles %}

{% block content %}
    <div class="content">
        <header>
            <img src="./assets/chef.svg" alt="Logomarca" id="logo">
            <a href="/create-point">
                <span></span>
                Cadastre um restaurante
            </a>
        </header>
        <main>
            <h1>Seu marketplace de restaurantes</h1>
            <p>Ajudamos pessoas a encontrarem os melhores restaurantes com eficiencia</p>
            <a href="#">
                <span></span>
                <strong>Pesquisar um restaurante</strong>
            </a>
        </main>
    </div>
{% endblock content %}

{% block modal %}
{% include "partials/modal.html" %}
{% endblock modal %}


{% block scripts %}
<script src="vendor/script/index.js"></script>
{% endblock scripts %}


