

<!DOCTYPE html>

<html lang="pt_br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %}
    {% endblock title %}
    
    

    <link rel="stylesheet" href="vendor/css/global.css">
 

    <link rel="stylesheet" href="vendor/css/responsive.css">
    
    {% block styles %}
    {% endblock styles %}    
</head>
<body>
    
    <div id={{ PageId }}>
        {% block content %}
        {% endblock content %}
    </div>
 
{% block modal %}
{% endblock modal %}

{% block scripts %}
{% endblock scripts %}

   
   
</body>
</html>