<div id="modal" class="hide">
    <div class="content">
        <div class="header">
            <h1>Buscar Restaurantes</h1>
            <a href="#">Fechar</a>
        </div>
        <form action="/search">
            <label for="search">Cidade</label>
            <div class="search field">
                <input type="text" name="search" placeholder="Digite o nome da Cidade">
                <button>
                    <img src="./assets/search.svg" alt="Buscar">
                </button>
            </div>
        </form>
    </div>
</div>